body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.firstPara {
  font-size: 0.9rem;
}

.myBtn {
  font-size: 0.9rem;
  font-weight: bolder;
  color: #a87733;
  border: 1px solid #a87733;
}

.myBtn:hover {
  color: #fff;
  font-weight: bolder;
  border: 1px solid #a87733;
  background: #d39844;
}

.marginB {
  margin-bottom: 9rem;
}

.iconMainDiv {
  margin-bottom: 5rem;
}

.iconColour {
  font-size: 2.5rem;
  color: #d39844;
  margin-bottom: 1rem;
}

.iconH2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.iconPara {
  font-size: 1.2rem;
}

.quoteCenter {
  padding: 0 8rem;
  margin-bottom: 6rem;
}

div.ImgTrim {
  max-height: 40vh;
  /* max-width: 50vw; */
  overflow: hidden;
}

/*  */
@media (max-width: 992px) {
  .colPad {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .colPad {
    padding-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .colPad {
    padding-bottom: 3rem;
  }
}
