body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.h1CssStyle {
  color: #121212;
  margin-top: 5rem;
}

.h2CssStyle {
  color: #121212;
  margin-top: 5rem;
}

div.trim {
  max-height: 80vh;
  max-width: 100vw;
  overflow: hidden;
}

div.gridTrim {
  max-height: 23vh;
  max-width: 20vw;
  overflow: hidden;
}

.comGrid {
  display: grid;
  grid-gap: 5px;
  margin: 5px;
  grid-template-columns: repeat(2, 4fr);
  grid-auto-rows: minmax(75px, auto);
}

.gridContainerTraining {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.3rem;
}

.gridContainerOpening {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.3rem;
}

.gridContainerProject {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3rem;
}
