div.trim {
  max-height: 80vh;
  max-width: 100vw;
  overflow: hidden;
}

.comGrid {
  display: grid;
  grid-gap: 5px;
  margin: 5px;
  grid-template-columns: repeat(2, 4fr);
  grid-auto-rows: minmax(75px, auto);
}

.gridContainer {
  /* background-color: black; */
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.3rem;
  /* padding: 2rem;
  margin: 2rem;
  border: 2rem solid aquamarine; */
}

/* .gridItem1 {
  background-color: aqua;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.gridItem2 {
  background-color: aqua;
  grid-column: 4 / span 4;
  grid-row: 1 / span 3;
}

.gridItem3 {
  background-color: aqua;
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
}

.gridItem4 {
  background-color: orange;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.gridItem5 {
  background-color: aqua;
  grid-column: 5 / span 3;
  grid-row: 4 / span 3;
}

.gridItem6 {
  background-color: aqua;
  grid-column: 1 / span 4;
  grid-row: 5 / span 2;
} */
